{% extends 'base.html.twig' %}

{% block body %}
    <div class="dev-page">
        <div class="content-info-top">
            <h1>Projets</h1>
            <h2>Galgros</h2>
        </div>
        <div class="project-container">
            {% for project in projects %}
                <a href="{{ path('app_project', {'slug': project.title}) }}">
                    <div class="project-container-div position-{{ random(1, 3) }}">
                        <h3>{{ project.title }}</h3>
                        <img src="{{ asset('image/' ~ project.image) }}">
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}