{% extends 'base.html.twig' %}

{% block body %}
    <div class="dev-page">
        <div class="content-info-top">
            <h1>Developpements</h1>
            <h2>Galgros</h2>
        </div>
        <div class="project-container">
            {% for project in projects %}
                <div class="project-container-div">
                    <h3>{{ project.title }}</h3>
                    <p>{{ project.description }}</p>
                    <p>{{ project.more }}</p>
                    <img src="{{ asset('image/' ~ project.image) }}">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}