{% extends 'base.html.twig' %}

{% block body %}
    <div class="gaming-page">
        <div class="content-info-top">
            <h1>Gaming</h1>
            <h2>Samplit0</h2>
        </div>
        <div class="youtube-iframes-container">
            {% for i in 0..10 %}
                <iframe src="{{ video.link }}"
                        class="youtube-iframe"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>

                </iframe>
            {% endfor %}
        </div>
    </div>
{% endblock %}
