{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-info-top">
        <h1>Bienvenu sur mon portfolio</h1>
        <h2>Galgros aka Mr Sample aka Samplit0</h2>
        <p>
            Compositeur de musique électronique, Streameur Casu de jeux vidéo-ludique,
            Montage de photos et de vidéos souvent décallées et depuis peu développeur Web.
            Ce portfolio à pour but de vous faire découvrir mon univers au travers de mes créations
        </p>
    </div>
    <div class="home-img-container">
        <img src="{{ asset('image/tumblr_o1lza6H3h31t2vvy4o1_1280.png') }}">
    </div>
    <div class="home-link">
        <a href="#"><div class="link-btn">Dev</div></a>
        <a href="#"><div class="link-btn">Music</div></a>
        <a href="#"><div class="link-btn">Gaming</div></a>
        <a href="#"><div class="link-btn">Video</div></a>
        <a href="#"><div class="link-btn">Picture</div></a>
    </div>
    <div class="contact-section">

    </div>
{% endblock %}