{% extends 'base.html.twig' %}

{% block title %}Modifier Music{% endblock %}

{% block body %}
    <div class="content-info-top">
        <h1>Modifier Music</h1>
    </div>

    {{ include('music/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('music_index') }}"><button class="btn btn-info">Retour</button></a>

    {{ include('music/_delete_form.html.twig') }}
{% endblock %}
