{% extends 'base.html.twig' %}

{% block title %}Modifier Projet{% endblock %}

{% block body %}
<div class="music-index">
    <div class="content-info-top">
        <h1>Modifier Projet</h1>
    </div>

    {{ include('project/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('project_index') }}">
        <button class="btn btn-info">Retour</button>
    </a>

    {{ include('project/_delete_form.html.twig') }}
</div>
{% endblock %}
